In [ ]:
import pandas as pd
import numpy as np

In [ ]:



name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"My name is {name} and I am {age} years old.")

Enter your name: Sankari
Enter your age: 20
My name is Sankari and I am 20 years old.

In [ ]:

#2.Even or Odd

num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 4
Even number

In [ ]:
#3.List Operations

numbers = [10, 20, 30, 40, 50]

print("Sum:", sum(numbers))
print("Max:", max(numbers))
print("Min:", min(numbers))

Sum: 150
Max: 50
Min: 10

In [ ]:

#4.Function Example

def square(num):
    return num * num

print(square(5))

25

In [ ]:
#5.Loop Task

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10