In [ ]:
Python Coding Tasks
1. Dynamic Typing
Write a program that:
* Assigns an integer value to a variable
* Reassigns a string value to the same variable
* Prints the value and its type at each step
x = 10
print(x, type(x))

x = "Hello Python"
print(x, type(x))

2. Mutable vs Immutable Data Types
Write a program that:
* Modifies a list
* Attempts to modify a tuple��
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

my_tuple = (1, 2, 3)
# my_tuple[0] = 10
print(my_tuple)

3. Local and Global Variables
Write a program that:
* Uses a global variable
* Uses a local variable inside a function
x = 100

def demo():
    y = 50
    print(x, y)

demo()

4. Return Statement in a Function
Write a function that:
* Takes two numbers
* Returns their sum


5. List Comprehension
Write a program that:
* Creates a list of squares from 1 to 10
squares = [x * x for x in range(1, 11)]
print(squares)

6. break, continue, and pass
Write a program that:
* Demonstrates break, continue, and pass
for i in range(1, 11):
    if i == 3:
        continue
    if i == 5:
        break
    if i == 7:
        pass
    print(i)

7. Recursion
Write a recursive function that:
* Finds the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

8. Lambda Function
Write a lambda function that:
* Returns the square of a number��


9. is vs ==
Write a program that:
* Compares two lists using == and is


10. Docstrings
Write a function that:
* Uses a docstring
def greet():
    """This function prints a greeting message"""
    print("Hello Python")

greet()
print(greet.__doc__)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = 10
print(x, type(x))

x = "Hello Python"
print(x, type(x))

10 <class 'int'>
Hello Python <class 'str'>

In [ ]:
L=[1,2,3,4]
L[0]=0
print(L)

[0, 2, 3, 4]

In [ ]:
T=(1,2,3)
T[0]=0

TypeError: 'tuple' object does not support item assignment

In [ ]:
X=2
def demo():
   Y=4
   print(X,Y)
demo()

2 4

In [ ]:
print (X), print (Y)

2

NameError: name 'Y' is not defined

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

In [ ]:
squares = [x * x for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for i in range(1, 11):
    if i == 3:
        continue
    if i == 5:
        break
    if i == 7:
        pass
    print(i)

1
2
4

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

120

In [ ]:
square = lambda x: x * x
print(square(4))

16

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)
print(a is b)

True
False

In [ ]:
def greet():
    """This function prints a greeting message"""
    print("Hello Python")

greet()
print(greet.__doc__)

Hello Python
This function prints a greeting message

In [ ]:
def greet():
    """This function prints a greeting message"""
    print("Hello Python")

greet()

Hello Python

In [ ]:
def greet():
    """This function prints a greeting message"""
    print("Hello Python")

greet()
print(greet)

Hello Python
<function greet at 0x7efeb0706ca0>