In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(1)
rows = 200

df = pd.DataFrame({
    "PassengerId": np.arange(1, rows + 1),
    "Name": np.random.choice(["Mr. John", "Mrs. Anna", "Miss Emma", "Dr. Smith"], rows),
    "Age": np.random.choice(np.append(np.random.randint(1, 80, 180), [np.nan]*20), rows),
    "Sex": np.random.choice(["male", "female"], rows),
    "Pclass": np.random.choice([1, 2, 3], rows),
    "Fare": np.round(np.random.uniform(10, 500, rows), 2)
})

In [ ]:
df

     PassengerId       Name   Age     Sex  Pclass    Fare
0              1  Mrs. Anna  40.0    male       2  461.14
1              2  Dr. Smith   NaN    male       1  333.43
2              3   Mr. John  75.0    male       1  348.14
3              4   Mr. John  63.0  female       2   92.36
4              5  Dr. Smith  39.0  female       1  346.02
..           ...        ...   ...     ...     ...     ...
195          196  Miss Emma  40.0    male       2  136.23
196          197  Dr. Smith  33.0  female       1  300.03
197          198  Mrs. Anna  75.0    male       3   53.22
198          199  Mrs. Anna   NaN    male       2  431.91
199          200  Miss Emma  33.0    male       3   45.51

[200 rows x 6 columns]

In [ ]:
df.head()

   PassengerId       Name   Age     Sex  Pclass    Fare
0            1  Mrs. Anna  40.0    male       2  461.14
1            2  Dr. Smith   NaN    male       1  333.43
2            3   Mr. John  75.0    male       1  348.14
3            4   Mr. John  63.0  female       2   92.36
4            5  Dr. Smith  39.0  female       1  346.02

In [ ]:

df.tail()

     PassengerId       Name   Age     Sex  Pclass    Fare
195          196  Miss Emma  40.0    male       2  136.23
196          197  Dr. Smith  33.0  female       1  300.03
197          198  Mrs. Anna  75.0    male       3   53.22
198          199  Mrs. Anna   NaN    male       2  431.91
199          200  Miss Emma  33.0    male       3   45.51

In [ ]:

df.sample(3)

     PassengerId       Name   Age     Sex  Pclass    Fare
128          129   Mr. John  18.0    male       3  338.25
175          176   Mr. John  33.0  female       3  329.26
41            42  Mrs. Anna  36.0    male       1   47.32

In [ ]:
df.shape

(200, 6)

In [ ]:

df.columns

Index(['PassengerId', 'Name', 'Age', 'Sex', 'Pclass', 'Fare'], dtype='object')

In [ ]:
    # Column names
df.info()       # Data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  200 non-null    int64
 1   Name         200 non-null    object
 2   Age          182 non-null    float64
 3   Sex          200 non-null    object
 4   Pclass       200 non-null    int64
 5   Fare         200 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 9.5+ KB

In [ ]:

df.describe()

       PassengerId         Age      Pclass        Fare
count   200.000000  182.000000  200.000000  200.000000
mean    100.500000   43.318681    2.035000  251.249700
std      57.879185   22.078153    0.804369  146.847353
min       1.000000    1.000000    1.000000   11.250000
25%      50.750000   25.250000    1.000000  115.550000
50%     100.500000   41.000000    2.000000  265.430000
75%     150.250000   63.000000    3.000000  371.432500
max     200.000000   79.000000    3.000000  493.680000

In [ ]:

df.isnull().sum()                  # Count missing valu

PassengerId     0
Name            0
Age            18
Sex             0
Pclass          0
Fare            0
dtype: int64

In [ ]:
#df["Age"]=df.fillna(df["Age"].mean(),inplace=True)
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [ ]:
df["Age"]

0      40.000000
1      43.318681
2      75.000000
3      63.000000
4      39.000000
         ...
195    40.000000
196    33.000000
197    75.000000
198    43.318681
199    33.000000
Name: Age, Length: 200, dtype: float64

In [ ]:


#Filtering Rows

df[df["Age"] > 30]
df[df["Sex"] == "female"]

     PassengerId       Name        Age     Sex  Pclass    Fare
3              4   Mr. John  63.000000  female       2   92.36
4              5  Dr. Smith  39.000000  female       1  346.02
5              6  Mrs. Anna  26.000000  female       2  304.88
8              9  Dr. Smith  29.000000  female       3   44.05
10            11   Mr. John  77.000000  female       3  247.52
..           ...        ...        ...     ...     ...     ...
186          187   Mr. John  43.318681  female       1  148.20
190          191  Miss Emma  68.000000  female       1  367.68
191          192  Miss Emma  78.000000  female       3   12.94
193          194  Dr. Smith  43.318681  female       1   25.29
196          197  Dr. Smith  33.000000  female       1  300.03

[99 rows x 6 columns]

In [ ]:
#Grouping & Aggregation

df.groupby("Pclass")["Fare"].mean()

Pclass
1    237.222623
2    281.545775
3    232.200147
Name: Fare, dtype: float64

In [ ]:
#DATASET 2: Student Performance Dataset
np.random.seed(3)
rows = 120
df = pd.DataFrame({
    "StudentId": np.arange(1, rows + 1),
    "Age": np.random.randint(18, 30, rows),
    "Gender": np.random.choice(["male", "female"], rows),
    "Course": np.random.choice(["AI", "DS", "ML", "Python"], rows),
    "Marks": np.random.randint(35, 100, rows)
})

In [ ]:
df

     StudentId  Age  Gender  Course  Marks
0            1   28  female  Python     76
1            2   26    male      DS     80
2            3   27  female      AI     67
3            4   21  female      DS     60
4            5   26  female      AI     61
..         ...  ...     ...     ...    ...
115        116   29    male      AI     53
116        117   21  female  Python     98
117        118   18    male      DS     79
118        119   26    male      DS     77
119        120   20  female      AI     59

[120 rows x 5 columns]

In [ ]:
df.sort_values(by="Marks", ascending=False)

     StudentId  Age  Gender  Course  Marks
20          21   26  female      DS     98
116        117   21  female  Python     98
53          54   22    male      AI     97
36          37   25    male      DS     97
77          78   25  female  Python     96
..         ...  ...     ...     ...    ...
103        104   18    male      AI     37
32          33   19    male  Python     36
44          45   19    male  Python     36
55          56   26  female  Python     35
69          70   29    male      ML     35

[120 rows x 5 columns]

In [ ]:
df["Gender"].value_counts()

Gender
male      65
female    55
Name: count, dtype: int64

In [ ]:
Result= df["Marks"].apply(lambda x: "Pass" if x >= 50 else "Fail")
print(Result)

0      Pass
1      Pass
2      Pass
3      Pass
4      Pass
       ...
115    Pass
116    Pass
117    Pass
118    Pass
119    Pass
Name: Marks, Length: 120, dtype: object

In [ ]:
df.groupby("Course")["Marks"].mean()

Course
AI        71.093750
DS        67.516129
ML        60.393939
Python    60.833333
Name: Marks, dtype: float64

In [ ]:
#DATASET 3: Employee Dataser


np.random.seed(3)
rows = 120

df = pd.DataFrame({
    "EmpId": np.arange(1, rows + 1),
    "Dept": np.random.choice(["HR", "IT", "Sales"], rows),
    "Salary": np.random.randint(30000, 150000, rows),
    "Gender": np.random.choice(["male", "female"], rows)
})

In [ ]:
df.rename(columns={"Dept": "Department"}, inplace=True)

In [ ]:
df.drop("Gender", axis=1, inplace=True)

In [ ]:
df.groupby("Department")["Salary"].agg(["mean",  "max"])

                    mean     max
Department
HR          85759.094340  149292
IT          92223.166667  145060
Sales       86745.483871  147177